.flex {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.grandpa div,
.grandpa {
  padding: 10px;
  border: 2px solid purple;
  margin: 10px;
  border-radius: 10px;
}
.text-center {
  text-align: center;
}
